/* Main index.html element content/page formatting*/
section {
    margin: auto auto;
    box-sizing: border-box;
    width: 960px;
    background-color: #ffffff;
    border-color: #dddddd;
}
.wrapper {
    background-image: url("https://cdn.pixabay.com/photo/2017/03/25/17/56/color-2174049__340.png");
    background-size: cover; /*I tried a variety of methods for this. I originally had a downloaded image that 
                            I tried to tile, etc and couldn't get it to work to cover the screen width. I found 
                            that using a url instead worked, so I'm sticking with it!!!*/
}

h1 {
    max-width: fit-content;;
    background-color: #4aaaa5;
    color: #ffffff;
    border-color: #cccccc;
    border-width: 10px, 10px, 10px, 10px;
    font-family: "Georgia", Times, "Times New Roman", Serif;
    padding: 20px;
    margin-bottom: 0;
}

/*Spent WAAAY to long trying to make a nav menu using flexbox. Never got it to work and used this
method instead since I could make it work. I am thoroughly frustrated trying to position elements
with css right now...*/
ul {
    list-style-type: none;   
    margin: 0;
    padding: 0;
  }

  li {
    float: right;
    display: inline;
  }
  
  li a {
    display: block;
    color: #777777;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
  }

h2 {
    padding: 20px 0 0 0;
    margin: 0 0 20px 20px;
    color: #4aaaa5;
    font-family: Georgia, Times, Times New Roman, Serif;
}   

#profile {
    padding: 0 20px 20px 20px;
    height: 220px;
    width: 180px;
}

p  {
    padding: 0 0 0 20px;
    color: #777777;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    line-height: 1.5;
}

footer {
    position: sticky;
    margin-top: auto;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    border-top: 8px solid #4aaaa5;
    color: #ffffff;
    text-align: center;
    background-color: #666666; 
    padding-top: 10px;     
}

/* Portfolio.html specific formatting*/
img {
    height: 150px;
    width: 250px;
    padding: 20px 20px 20px 20px;
}

.image-box {
    height: 150px;
    width: 250px;
    border: solid 1px grey;
    background-color: lightgray;
    margin: 20px;
}

/* Contact.html specific formatting*/