header {
    background-color: #4aaaa5#ffffff;
    border-color: #cccccc;
}

h1 {
    color: #4aaaa5;
}

p  {
    color: #777777;
}

footer {
    background-color: #666666;
}

.border-box {
    align-content: center;
    width: 960px;
    height: auto;
    background-color: #ffffff;
    border-color: #dddddd;
}

.ImageBorder {
    width: 15%;
    height: 15%;
}

div {
    border: 5px solid red;
}

section {
    border: 5px solid red;
}